SECRET_KEY=your-secret-key

DEBUG=False

DATABASE_URL=your-postgresql-url

RESEND_API_KEY=your-resend-api-key

EMAIL_FROM=LetsQuiz <noreply@letsquiz.online>

FRONTEND_URL=https://letsquiz.online

ALLOWED_HOSTS=api.letsquiz.online