# Virtual Environment
venv/

# Python
__pycache__/
*.pyc

# Environment
.env
.env.*
!.env.example

# SQLite
db.sqlite3

# Static files
staticfiles/

# Media
media/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db